html, body {
    height: 100%;
    font-family: sans-serif;
}

svg {
    fill: currentColor;
    color: white;
    width: 50%;
}

.container {
    height: 100%;
    background-color: #3b82f6;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(1fr, 2);
}

.header-top {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr 1fr 1fr 1fr 2fr 0.5fr;
    align-items: center;
    gap: 15px;
}

.search-icon {
    display: grid;
    justify-items: right;
}

.search-icon svg, .bell-icon svg {
    color: black;
    width: 30%;
}

.search-bar {
    height: 30px;
    width: 100%;
    background-color: #d4d4d4;
    border-radius: 25px;
}

.bell-icon {
    display: grid;
    justify-items: center;
}

.header-top-avatar {
    display: grid;
    align-items: center;
}

.header-top-avatar svg {
    color: black;
    width: 70%;
}

.header-top-name {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.header-bottom {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.25fr 1fr 4fr 3fr 1fr 1fr 1fr 0.25fr;
    align-items: center;
    gap: 15px;
}

.header-bottom-avatar {
    display: grid;
    justify-items: center;
}

.header-bottom-avatar svg {
    color: black;
    width: 80%;
}

.intro {
    font-weight: bold;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header-bottom-button {
    background-color: #3b82f6;
    height: 45px;
    border-radius: 25px;
    margin: 8px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
}

.header-bottom-button-text {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.intro-bottom {
    font-size: 30px;
}

.sidebar {
    background-color: #3b82f6;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 8fr;
    grid-template-columns: 1fr;
    margin: 20px;
    gap: 15px;
}

.sidebar-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    display: grid;
    align-items: center;
    gap: 15px;
}

.sidebar-image {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.sidebar-text {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

 .sidebar-dashboard .sidebar-text {
    font-size: 30px;
 }

 .sidebar-dashboard svg {
    width: 100%;
 }

.main-content {
    background-color: #d4d4d4;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 30px 50px 50px 40px;
    gap: 40px;
}

.section-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    gap: 30px;
}

.project-card {
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 30fr;
}

.project-card-left {
    background-color: #d97706;
    border-radius: 10px 0 0 10px;
}

.project-card-right {
    background-color: white;
    border-radius: 0 10px 10px 0;
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    padding: 20px;
}

.project-card-title {
    font-weight: bold;
    font-size: 20px;
}

.project-icon-container {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.project-icon {
    display: grid;
    justify-items: center;
}

.project-icon svg {
    color: black;
    width: 40%;
}

.right-column {
    display: grid;
    grid-template-rows: repeat(autofill, 1fr);
}

.announcement-card, .trending-card {
    border-radius: 10px;
    background-color: white;;
}

.announcement-card {
    padding: 30px;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
}

.announcement-card-section-top {
    padding-bottom: 15px;
}

.announcement-card-section-middle {
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    padding-top: 15px;
    padding-bottom: 15px;
}

.announcement-card-section-bottom {
    padding-top: 15px;
}

.announcement-card-section {
    padding: 10px;
}

.announcement-card-section-title {
    font-weight: bold;
}

.announcement-card-section-text {
    font-size: 13px;
}

.trending-section {
    display: grid;
    justify-content: end;
    grid-template-rows: 1fr 1fr 9fr;
}

.trending-card {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr)
}

.trending-person {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    padding: 20px;
}

.trending-avatar {
    display: grid;
    justify-items: center;
    align-items: center;
}

.trending-avatar svg {
    color: black;
    width: 80%;
}

.trending-text-container {
    display: grid;
    align-items: center;
    font-size: 18px;
}

.trending-title, .announcement-card-section-text, .project-card-text {
    color: #525252;
}